<header class="navbar">
  <div class="nav-container">
    <div class="logo">
      <img src="../assets/logo.png" class="logo-img">
      <span>Socorro Teen</span>
    </div>

    <nav class="menu desktop">
      <a href="../index.html">Inicio</a>
      <a href="../pages/primeiros-socorros.html">Primeiros Socorros</a>
      <a href="../pages/socorro-ia.html">Socorro IA</a>
      <a href="../pages/simulador.html">Simulador</a>
      <a href="../pages/sobre.html">Sobre</a>
    </nav>

    <div class="user-area">
      <button class="btn-login"><a href="../pages/indexLogin.html">Entrar</a></button>
    </div>

    <div class="hamburger" onclick="toggleMenu()">Menu</div>
  </div>

  <div id="mobileMenu" class="mobile-menu">
    <a href="../index.html">Inicio</a>
    <a href="../pages/primeiros-socorros.html">Primeiros Socorros</a>
    <a href="../pages/socorro-ia.html">Socorro IA</a>
    <a href="../pages/simulador.html">Simulador</a>
    <a href="../pages/sobre.html">Sobre</a>
    <button class="btn-login full"><a href="../pages/indexLogin.html">Entrar</a></button>
  </div>
</header>
